<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change User Password - SmartAttendance</title>
</head>
<body>
    <h1>Change User Password</h1>
    <form th:action="@{/changePassword}" th:object="${changePasswordForm}" method="post">
        <label for="cnp">CNP</label>
        <input type="text" id="cnp" name="cnp">
        <br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <br>
        <input type="submit" value="Change Password">
        <p th:if="${changePasswordFormError}" th:text="${changePasswordFormError}"></p>
    </form>
    <br>
    <a th:href="@{/index}">Go Back</a>
</body>
</html>