<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index - SmartAttendance</title>
</head>
<body>
    <h1>Welcome</h1>
    <a th:href="@{/addUser}">Add Professor</a>
    <br>
    <a th:href="@{/addStudent}">Add Student</a>
    <br>
    <a th:href="@{/addSubject}">Add Subject</a>
    <br>
    <a th:href="@{/addSchedule}">Add Schedule</a>
    <br>
    <a th:href="@{/addAttendance}">Add Attendance</a>
    <br>
    <br>
    <a th:href="@{/changePassword}">Change User Password</a>
    <br>
    <br>
    <a th:href="@{/logout}">Log Out</a>
</body>
</html>