<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log In - SmartAttendance</title>
</head>
<body>
  <h1>Please Log In</h1>
  <form th:action="@{/login}" th:object="${loginForm}" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
    <br>
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <br>
    <input type="submit" value="Log In">
    <p th:if="${invalidCredentials}" class="loginError">Incorrect credentials</p>
  </form>
</body>
</html>